body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #E6FFFD;
    
  }
  .logo-container {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .logo {
    width: 100px;
    height: 100px;
  }
  
  h1 {
    /*text-align: center; /* Center align the heading */
    margin-top: 60px; /* Add margin from the top */
    margin-left: 30%;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    height: 50%;
    margin-left: 10%;
    /*margin: 100px auto;*/
    padding: 20px;
    background-color: #E6FFFD;
  
  }
    
 
  
  .button {
    display: inline-block;
    width: 170px;
    height: 100px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #3399ff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    white-space: pre-wrap;
    text-overflow: ellipsis;
  }
  
  
  textarea {
    display: inline-block;
    margin-left: 10%;
    width: 52%;
    height: 100px;
    padding: 10px;
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #cccccc;
    border-radius: 4px;
    resize: none;
  }

  
  .copy-button  {
    position: absolute;
    margin-left: 10px;
    padding: 10px;
    width: 10%;
    height: 50px;
    background-color: #025464;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
  .reset-button {
    position: absolute;
    top: 90%;
    margin-left: 10px;
    padding: 10px;
    width: 10%;
    height: 50px;
    background-color: #CD1818;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
